@(message: String, style: String = "scala")

@message


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>listImportCollections</title>
    <script src="@routes.Assets.versioned("javascripts/app.js")" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>

  <body>

    <p id="demo"></p>

    <script>
            //'[ [ "getCurrentTerms", "post", "post_1", "students" ] ]'
            function htmlDecode(value) {
              return $("<textarea/>").html(value).text();
            }

            var obj = JSON.parse(htmlDecode("@message"));
            document.getElementById("demo").innerHTML = obj[0][0]+" "+obj[0][1];
    </script>

    <a href="@routes.HomeController.col1()">Click to see documents in Collection: students</a>

  </body>


</html>