@(message: List[String], style: String = "scala" )


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Show Collections</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
  </head>

  <body>

      <h1>Here shows what collections we have in database</h1>
      <ul>
          @message.map {message =>
              <form action="collection/@message">
                  <input type="submit" value=@message />
              </form>
          }
      </ul>


      <a href="@routes.HomeController.index">Home Page</a>

  </body>


</html>